body {
    background-image: url(../images/bkground.jpg);
}

.container {
    background-color: rgb(0,0,255);
    color: white;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: left;
}

img {
    width: 140px;
    height: 140px;
}